[Unit]
Description=CorretorCenter
After=network.target postgresql.service

[Service]
Type=simple
WorkingDirectory=/home/opc/CorretorCenter
EnvironmentFile=/home/opc/CorretorCenter/.env
ExecStart=/usr/bin/node /home/opc/CorretorCenter/app/server.js
Restart=always
RestartSec=5
User=opc
Group=opc

[Install]
WantedBy=multi-user.target
