[Unit]
Description=CorretorCenter
After=network.target postgresql.service

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/corretorcenter
EnvironmentFile=/home/ubuntu/corretorcenter/.env
ExecStart=/usr/bin/node /home/ubuntu/corretorcenter/app/server.js
Restart=always
RestartSec=5
User=ubuntu
Group=ubuntu

[Install]
WantedBy=multi-user.target
